@mixin hover-effect($bg-color: #f0f0f0, $text-color: #333, $transform: scale(1.01)) {
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: $bg-color;
        color: $text-color;
        transform: $transform;
    }
}

// Tạo mixin cho media query
@mixin screenTo($breakpoint) {
    @if $breakpoint == mobile {
        @media (max-width: $is_mobile) {
            @content;
        }
    } @else if $breakpoint == tablet {
        @media (max-width: $is_tablet_max) and (min-width: $is_tablet_min) {
            @content;
        }
    } @else if $breakpoint == small {
        @media (max-width: $is_desktop_small_max) and (min-width: $is_desktop_small_min) {
            @content;
        }
    } @else if $breakpoint == medium {
        @media (max-width: $is_desktop_medium_max) and (min-width: $is_desktop_medium_min) {
            @content;
        }
    } @else if $breakpoint == large {
        @media (max-width: $is_desktop_large_max) and (min-width: $is_desktop_large_min) {
            @content;
        }
    } @else if $breakpoint == xlarge {
        @media (max-width: $is_desktop_xlarge_max) and (min-width: $is_desktop_xlarge_min) {
            @content;
        }
    }
}
