@import 'mixins';

//Theme
$primary_color: #e4003a;
$primary_overlay_color: rgba(228, 0, 58, 0.08);
$grey-lighten-1-color: #616161;
$overlay-color: rgba(64, 64, 63, 0.3);
$overlay-menu-color: rgba(64, 64, 63, 0.1);
$text-black-color: rgb(83, 83, 83);
$text-white-color: rgb(209, 209, 209);
$map_color_tile: #90caf9;
$bg_home_item_color: rgba(64, 64, 63, 0.05);

//Box-shadow
$box-shadow-light: #13332b;

//Font
$body-font-family: 'Nunito Sans', sans-serif !important;

//Toast
$toast_color_success: #388e3c;
$toast_color_error: #ff5252;
$toast_color_warning: #ffab00;
$toast_color_info: #448aff;

//Responsive
$is_mobile: 400px;
$is_tablet_min: 401px;
$is_tablet_max: 768px;

$is_desktop_small_min: 769px;
$is_desktop_small_max: 1024px;

$is_desktop_medium_min: 1025px;
$is_desktop_medium_max: 1350px;

$is_desktop_large_min: 1351px;
$is_desktop_large_max: 1600px;

$is_desktop_xlarge_min: 1601px;
$is_desktop_xlarge_max: 2000px;
