//Theme
$primary-color: #13332b;
$grey-lighten-1-color: #616161;
$overlay-color: rgba(64, 64, 63, 0.3);

//Font
$body-font-family: 'Nunito Sans', sans-serif !important;

//Toast
$toast_color_success: #388e3c;
$toast_color_error: #ff5252;
$toast_color_warning: #ffab00;
$toast_color_info: #448aff;
