//Theme
$primary-color: #13332b;

//Font
$body-font-family: 'Nunito Sans', sans-serif !important;

//Toast
$toast_color_success: #388e3c;
$toast_color_error: #ff5252;
$toast_color_warning: #FFAB00;
$toast_color_info: #448aff;
